{% extends 'base.html'%}

{% block content %}


It's Question Page!

<hr width="5"></hr>

		{% for i in map.values %}
			{% for j in i.chapter_details%}
				{% for k in j.goal_details %}
					{% for l in k.tu_details %}
						{% for m in l.video_details%}


					<table>
						<tr>
							<th scope = "col">Video_name</th>
							<th scope = "col">Yt_link</th>
						</tr>
						<tr>
							<td>{{m.video_name m.yt_link}}</td>
							<td>{{m.yt_link}}</td>
						</tr>
						{% endfor %}
					{% endfor %}
				{% endfor %}
			{% endfor %}
		</table>
		{% endfor %}

{% endblock %}
