{% extends 'base.html'%}
{% block content %}

<div class="home"><span style="font-size:21px;font-weight:bold;" >&#8962;</span> Home</div>

<div class="subjectlist">
	<div class="container-title">Subjects</div>
	<div class="subject-container"  data-values="{{map}}">
		
	</div>

</div>

<div class="chapterlist" style="display: none;">
	<div class="container-title">Chapters</div>
	<div class="chapterlist-container">
		
	</div>
</div>
<div class="goallist-container"></div>
<div class="tulist-container"></div>
<div class="video_qlist-container"></div>

<!-- <div class="goallist-container" data-value = "{{map}}">
	<div class="chaptert" data-value="">
			<div class="chapter-title"></div>	
		</div>	
	

</div> -->


{% endblock %}
